<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guess the Number</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
<style>
    footer{
        text-align: center;
        -webkit-transition: .5s ease-in-out;
        position: absolute;
        color: azure;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        /* min-width: 967px; */
        /* font-size: 20px; */
        /* height: px; */
        background-color: #212121;
        /* margin: 0 0 0 0; */
        padding-bottom: 5px;
        display: inline-block;
        white-space: nowrap;
    
    }
    
    
    
    /* contacts */
    
     
     
    
    .contact-icons i{
        height: 40px;
        width: 40px;
        background: #06d9ba;
        color:  #f2f2f2;
        font-size: 23px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        border-radius: 8px;
        margin-right: 15px;
         transition: all .45s ease;
    
    }
    .contact-icons {
         text-align: center;
    }
    
    .contact-icons i:hover{
        background:  #f2f2f2;
        color: #06d9ba;
    }
    
</style>
<link rel="stylesheet"
href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container">
 
                <div class="content">
                    <h1 style="text-align: center">Guess the Number Game</h1>
                <marquee behavior="" direction="">Contact me to discuss the complex version of this project</marquee>
                    <div class="form">
                        <form  method="POST">
                        <!-- <label for="tries">Enter the Number of tries</label> &nbsp
                            <select id="tries" name="tries">
                                <option value="5">5</option>
                                <option value="8">8</option>
                                <option value="10">10</option>
                                <option value="13">13</option>
                                <option value="15">15</option>
                              </select> -->
                             <br>
                            <label for="user_number">Enter the Number</label> &nbsp
                             <input type="text" name="user_number" id="user_number" min="0000" max="9999">
                             <button type="submit">Submit</button>
                             <br>
                             <p>{{ result }}<p>

                <!-- <select id="operation" name="operation">
                  <option value="add">add</option>
                  <option value="subtract">subtract</option>
                  <option value="multiply">multiply</option>
                  <option value="divide">divide</option>
                  <option value="log">log</option>
                </select> -->
                             <!-- <input type="text" name="num1" id="num1">
                            <input type="text" name="num2" id="num2"> 
                            <input type="submit" value="Check"> -->

                        </form>
                    </div>
                </div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
 
        <!--<div class="rules">
            <h3>Note:-</h3>
            <p>
                <ul>
                    <li>Give the 4 digit number</li>
                    <li>Numbers should not be repeated. </li>
                    <ul><li>8986 is invalid</li>
                    <li>1693 is valid</li></ul>
                    <li>enter the number of tries less than 15</li>
                </ul>
            </p>
        </div> -->
    </div>
           
    
    <footer>



        <marquee behavior="" direction="">if anything not working properly try to reach me with contact given. Thank you 👨‍💻</marquee>
        
        <div class="contact-icons">
            <a href="https://kishansutariya23.github.io/" target="_blank"><i class='bx bxs-id-card' ></i></a>
            <a href="https://github.com/kishandata23" target="_blank"><i class='bx bxl-github' ></i></a>
            <a href="https://www.linkedin.com/in/kishankumar-sutariya/" target="_blank"><i class='bx bxl-linkedin' ></i></a>
            <a href="https://www.instagram.com/kishandata23/" target="_blank"><i class='bx bxl-instagram-alt' ></i></a>
            <a href="https://www.youtube.com/@kishandata23" target="_blank"><i class='bx bxl-youtube' ></i></a>
            <a href="https://twitter.com/ks23_code" target="_blank"><i class='bx bxl-twitter' ></i></a>
             
            <br>
        </div>
        <!-- <div class="links">
            <div class="flex"><a class='text-decoration-none  alert-link' href="https://github.com/kishansutariya23" target="_blank"><button type="button" class="btn btn-outline-secondary"><i class='bx bxl-github'></i></button></i>  </a></div>
            <div class="flex"> <a class='text-decoration-none alert-link' href="https://kishansutariya23.github.io/" target="_blank"><button type="button" class="btn btn-outline-success"><i class='bx bx-id-card'></i></button></i> </a></div>
            <div class="flex"> <a class='text-decoration-none alert-link' href="https://www.instagram.com/ks23code/" target="_blank"><button type="button" class="btn btn-outline-danger"><i class='bx bxl-instagram-alt'></i></button></i>  </a></div>
         
            <div class="flex"> <a class='text-decoration-none alert-link' href="https://www.linkedin.com/in/kishankumar-sutariya/" target="_blank"><button type="button" class="btn btn-outline-primary"><i class='bx bxl-linkedin'></i></button></i>  </a></div>
            <div class="flex"><a class='text-decoration-none alert-link' href="https://twitter.com/ks23_code" target="_blank"><button type="button" class="btn btn-outline-info"><i class='bx bxl-twitter'></i></button></i>  </a></div>
            <div class="flex">  <a class='text-decoration-none alert-link' href="https://www.youtube.com/@ks23code" target="_blank"><button type="button" class="btn btn-outline-danger"><i class='bx bxl-youtube'></i></button></i> </a></div>
         </div> -->
        
        <br>
        Terms & Conditions <br>
        Copyright ©️ <script>document.write(new Date().getFullYear())</script> username : kishandata23 <br>
        Hosted on <svg class="with-icon_icon__MHUeb" data-testid="geist-icon" fill="none" height="24" shape-rendering="geometricPrecision" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" width="24" style="color:var(--geist-foreground);width:24px;height:24px"><path clipRule="evenodd" d="M12 3 2 19h20L12 3Z" strokeWidth="1.5"/></svg> vercel   with  <img width="24" height="24" src="https://img.icons8.com/external-tal-revivo-bold-tal-revivo/24/external-github-with-cat-logo-an-online-community-for-software-development-logo-bold-tal-revivo.png" alt="external-github-with-cat-logo-an-online-community-for-software-development-logo-bold-tal-revivo"/>
    </footer>
    
 </body>
 </html>